/* --------------------------- */
/* -------- CSS Sheet -------- */
/* --------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    list-style: none;
    background: #444;
    color: #fff;
    height: 92vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
}
nav ul{
    display: flex;
}
nav ul li{
    align-items: flex-end;
    padding: 0 77px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
.main{
    width: 100%;
    background: url(https://source.unsplash.com/2200x1100/?nature);
    min-height: 100%;
    margin: 0;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    padding: 2rem;
    border-radius: 2rem;
    width: 50%;
    font-size: 3rem;
    text-align: center;
}
.search-bar input::placeholder{
    text-align: center;
}
.main h2{
    line-height: 18rem;
    text-align: center;
    font-size: 4rem;
    color: rgb(58, 56, 56);
}
.btn{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 1.2rem;
    padding: 1rem;
    border-radius: 2rem;
}










